<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="controller" class="cigma.pfe.controllers.ClientController " scope="prototype">

    <property name="clientService" ref="idserv"></property>
    </bean>
    <bean id="idserv" class="cigma.pfe.service.ClientServiceImpl" scope="prototype"/>
    <bean id="idrepo" class="cigma.pfe.repositories.ClientRepositoryImpl" scope="prototype"/>

</beans>
